#frontend
streamlit
requests
opencv-python-headless
#standard
numpy
pandas
seaborn
matplotlib
scikit-learn
ipdb
opencv-python

# Computer vision
roboflow==1.0.0



# API
fastapi
pytz
uvicorn
python-multipart
requests
