#frontend
streamlit
requests
opencv-python-headless
#standard
numpy
pandas
seaborn
matplotlib
scikit-learn
ipdb
opencv-python-headless

# Computer vision
roboflow



# API
fastapi
pytz
uvicorn
python-multipart
requests
